html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  outline: none;
}
html, body{
  margin: 0;
  padding: 0;
}
ul,ol,p,h4{
  margin: 0;
  padding: 0;
}
ul,ol{
  list-style-type: none;
}

body{
  background-color:  hsl(217, 100%, 97%);
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: hsl(231, 11%, 63%);
}

form{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-wrapper{
  background-color: hsl(0, 0%, 100%);
  display: flex;
  max-width: 850px;
  height: 540px;
  border-radius: 10px;
  padding: 14px;
}
.form-header{
  min-width: 248px;
  background-color: hsl(243, 100%, 62%);
  border-radius: 10px;
  padding-left:30px;
  padding-top: 36px;
  background-image: url(../src/assets/bg-sidebar-desktop.svg);
  background-size: cover;
  background-position: center;
}
main{
  min-width: 588px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-header li{
  background: none;
  border: none;
  display: flex;
  text-transform: uppercase;
  text-align: left;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  margin-bottom: 30px;
  width: 100%;
}
.form-header li.active .marker-circle{
  background-color: hsl(206, 94%, 87%);
  color: hsl(213, 96%, 18%);
  border-color: hsl(206, 94%, 87%);
}

.form-header .marker-circle{
  margin-right: 14px;
  padding: 7px 11px;
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 50%;
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  font-size: 14px;
}
.form-header li span{
  font-size: 12px;
  font-weight: 500;
}

.section-wrapper{
  padding: 36px 90px;
  display: flex;
  flex-direction: column;
  gap:23px;
  height: 100%;
}

.section-actions{
  display: flex;
  padding: 36px 90px;
  justify-content: space-between;
}

h1{
  color: hsl(213, 96%, 18%);
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 0;
}
p{
  margin-bottom: 14px;
}

.input-wrapper{
  position: relative;
}

label{
  font-size: 13px;
  display: block;
  color: hsl(213, 96%, 18%);
  margin-bottom: 7px;
}

input{
  width: 100%;
  padding: 13px;
  border-radius: 5px;
  border: 1px solid hsl(229, 24%, 87%);
  color: hsl(231, 11%, 63%);
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}
input:hover,input:focus-visible {
  border-color: hsl(243, 100%, 62%);
}

.input-wrapper input{
  font-weight: 700;
  color: hsl(213, 96%, 18%);
}
.input-wrapper input::placeholder{
  color: hsl(231, 11%, 63%);
  font-weight: 500;
}


.msg-required{
  color: hsl(354, 84%, 57%);
  position: absolute;
  top:0;
  right: 0;
  display: none;
  font-size: 13px;
  font-weight: 500;
}

.invalid .msg-required{
  display: block;
}

.invalid input{
  border-color: hsl(354, 84%, 57%);
}



.btn{
  border: transparent;
  font-weight: 700;
  cursor: pointer;
  background-color: transparent;
  color: hsl(231, 11%, 63%);
}
.btn:hover{
  color:hsl(213, 96%, 18%);
}
.btn.primary{
  background-color: hsl(213, 96%, 18%);
  border-radius: 6px;
  color:  hsl(0, 0%, 100%);
  border: transparent;
  font-weight: 700;
  cursor: pointer;
  padding:14px 22px;
  margin-left:auto;
}
.btn.primary:hover{
  background-color: hsl(228, 100%, 84%);
  color:  hsl(0, 0%, 100%);
}
.btn.confirm{
  background-color: hsl(243, 100%, 62%);
  color:  hsl(0, 0%, 100%);
}

.plans-selection{
  display: flex;
  gap:20px;
}

.plans-selection li{
  border: 1px solid hsl(231, 11%, 63%);
  border-radius: 5px;
  padding: 102px 15px 16px ;
  cursor: pointer;
  width: 136px;
  min-height: 158px;
  background-repeat: no-repeat;
  background-position: 15px 19px;
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-bottom: 11px;
  margin-top: 15px;
}

.plans-selection li.selected-plan{
  background-color: hsl(217, 100%, 97%);
  border-color:hsl(243, 100%, 62%) ;
}

.plans-selection h4{
  font-size: 16px;
  font-weight: 500;
  color: hsl(213, 96%, 18%);
}
.plans-selection  span.plan-price{
  color: hsl(231, 11%, 63%);
  font-size: 13px;
}
.plans-selection span{
  font-size: 12px;
  display: block;
  color: hsl(213, 96%, 18%);
}

.plan-period{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  background-color: hsl(217, 100%, 97%);
  border-radius: 5px;
  padding: 8px;
  font-size: 14px;
  font-weight: 500;
}
.plan-period .selected{
  color: hsl(213, 96%, 18%);
}

.switch {
  display: block;
  background-color: hsl(213, 96%, 18%);
  width: 36px;
  height: 15px;
  border-radius: 1000px;
  border: none;
  padding: 4px;
  border: 1px solid white;
  cursor: pointer;
  box-sizing: content-box;
  outline-offset: 6px;
}

.switch-ball {
  display: block;
  height: 100%;
  aspect-ratio: 1 / 1;
  background:hsl(0, 0%, 100%);
  border-radius: 1000px;
}

.add-ons-wrapper{
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.add-ons-wrapper>div{
  display: flex;
  gap:18px;
  
}

.add-ons-wrapper input{
  width: auto;

}
.add-ons-wrapper input[type=checkbox]{
  accent-color:  hsl(243, 100%, 62%);
 
}
.add-ons-wrapper label{
  border: 1px solid hsl(229, 24%, 87%);
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: 0;
  width: 100%;
  gap:10px;
  padding: 18px 20px;
}


.add-ons-wrapper label.checked{
  background-color: hsl(217, 100%, 97%);
  border-color: hsl(243, 100%, 62%);;
}


.add-ons-wrapper label h4{
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 5px;
}
.add-ons-wrapper label div:last-child{
  margin-left: auto;
  color: hsl(243, 100%, 62%);
}
.add-ons-wrapper label span{
  font-size: 13px;
  font-weight: 400;
  color:hsl(231, 11%, 63%);
}

.summary-wrapper{
  color:hsl(231, 11%, 63%);
  font-size: 13px;
  background-color: hsl(217, 100%, 97%);
  padding: 20px;
  border-radius: 5px;
}

.summary-wrapper .btn{
  text-decoration: underline;
  font-weight: 500;
  font-size: 13px;
  padding: 0;
}

.summary-wrapper >div{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.summary-plan h4, .summary-plan span{
  color: hsl(213, 96%, 18%);
  font-size: 14px;
  font-weight: 700;
}

.summary-plan + .summary-addon{
  border-top: 1px solid hsl(229, 24%, 87%);
  padding-top: 20px;
  margin-top: 20px;
}
.summary-addon{
  margin-bottom: 10px;
}
.summary-addon span{
  color: hsl(213, 96%, 18%);
}
.summary-total{
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}
.summary-total span{
  color: hsl(243, 100%, 62%);
  font-size: 18px;
  font-weight: 500;
}

.section-wrapper.section-final{
  text-align: center;
  justify-content: center;
}

.section-final img{
  width: 75px;
  height: 75px;
  margin: 0 auto;
  justify-content: center;
}

