html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  outline: none;
}
html, body{
  margin: 0;
  padding: 0;
}
ul,ol,p,h4{
  margin: 0;
  padding: 0;
}
ul,ol{
  list-style-type: none;
}

body{
  background-color:  hsl(217, 100%, 97%);
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: hsl(231, 11%, 63%);
}

form{
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-wrapper{
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  max-width: 850px;
  height: 100%;
}
.form-header{
  min-width: 248px;
  min-height: 156px;
  background-color: hsl(243, 100%, 62%);
  padding-top: 30px;
  padding-bottom: 15px;
  background-image: url(../src/assets/bg-sidebar-mobile.svg);
  background-size: cover;
  background-position: center;
}
main{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  padding: 0 15px;
}

.form-header ol{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
}

.form-header li{
  background: none;
  border: none;
  display: flex;
  text-transform: uppercase;
  text-align: left;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  margin-bottom: 15px;
}
.form-header li.active .marker-circle{
  background-color: hsl(206, 94%, 87%);
  color: hsl(213, 96%, 18%);
  border-color: hsl(206, 94%, 87%);
}

.form-header li div{
  display: none;
}
.form-header .marker-circle{
  padding: 7px 11px;
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 50%;
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  font-size: 14px;
  display: block;
}
.form-header li span{
  font-size: 12px;
  font-weight: 500;
}


.section-wrapper{
  padding: 30px 22px;
  display: flex;
  flex-direction: column;
  gap:14px;
  height: 100%;
  margin-top: -68px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
}

.section-actions{
  position: fixed;
  width: 100%;
  bottom: 0;
  left:0;
  background-color:  hsl(0, 0%, 100%);
}
.section-actions >div{
  justify-content: space-between;
  display: flex;
  padding:14px;
}



h1{
  color: hsl(213, 96%, 18%);
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 0;
  letter-spacing: -0.22px;
}
p{
  margin-bottom: 14px;
  width: 80%;
  line-height: 1.5;
}

.input-wrapper{
  position: relative;
}

label{
  font-size: 12px;
  letter-spacing: -0.36px;
  display: block;
  color: hsl(213, 96%, 18%);
  margin-bottom: 7px;
}

input{
  width: 100%;
  padding: 13px;
  border-radius: 5px;
  border: 1px solid hsl(229, 24%, 87%);
  color: hsl(231, 11%, 63%);
  font-size: 13px;
  letter-spacing: 0.39px;
  font-weight: 500;
  cursor: pointer;
}
input:hover,input:focus-visible {
  border-color: hsl(243, 100%, 62%);
}

.input-wrapper input{
  font-weight: 700;
  color: hsl(213, 96%, 18%);
}
.input-wrapper input::placeholder{
  color: hsl(231, 11%, 63%);
  font-weight: 500;
}


.msg-required{
  color: hsl(354, 84%, 57%);
  position: absolute;
  top:0;
  right: 0;
  display: none;
  font-size: 13px;
  font-weight: 500;
}

.invalid .msg-required{
  display: block;
}

.invalid input{
  border-color: hsl(354, 84%, 57%);
}



.btn{
  border: transparent;
  font-weight: 700;
  cursor: pointer;
  background-color: transparent;
  color: hsl(231, 11%, 63%);
}
.btn:hover{
  color:hsl(213, 96%, 18%);
}
.btn.primary{
  background-color: hsl(213, 96%, 18%);
  border-radius: 6px;
  color:  hsl(0, 0%, 100%);
  border: transparent;
  font-weight: 700;
  cursor: pointer;
  padding:14px 22px;
  margin-left:auto;
}
.btn.primary:hover{
  background-color: hsl(228, 100%, 84%);
  color:  hsl(0, 0%, 100%);
}
.btn.confirm{
  background-color: hsl(243, 100%, 62%);
  color:  hsl(0, 0%, 100%);
}

.plans-selection{
  display: flex;
  flex-direction: column;
  gap:12px;
}

.plans-selection li{
  border: 1px solid hsl(231, 11%, 63%);
  border-radius: 5px;
  padding: 15px;
  padding-left: 70px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: 15px 15px;
  display: flex;
  flex-direction: column;
  gap:5px;
}

.plans-selection li.selected-plan{
  background-color: hsl(217, 100%, 97%);
  border-color:hsl(243, 100%, 62%) ;
}

.plans-selection li:hover{
  border-color:hsl(243, 100%, 62%) ;
}

.plans-selection h4{
  font-size:1rem;
  font-weight: 500;
  color: hsl(213, 96%, 18%);
}
.plans-selection  span.plan-price{
  color: hsl(231, 11%, 63%);
  font-size: 13px;
}
.plans-selection span{
  font-size: 12px;
  display: block;
  color: hsl(213, 96%, 18%);
}

.plan-period{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  background-color: hsl(217, 100%, 97%);
  border-radius: 5px;
  padding: 8px;
  font-size: 14px;
  font-weight: 500;
}
.plan-period .selected{
  color: hsl(213, 96%, 18%);
}

.switch {
  display: block;
  background-color: hsl(213, 96%, 18%);
  width: 36px;
  height: 15px;
  border-radius: 1000px;
  border: none;
  padding: 4px;
  border: 1px solid white;
  cursor: pointer;
  box-sizing: content-box;
  outline-offset: 6px;
}

.switch-ball {
  display: block;
  height: 100%;
  aspect-ratio: 1 / 1;
  background:hsl(0, 0%, 100%);
  border-radius: 1000px;
}

.add-ons-wrapper{
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.add-ons-wrapper>div{
  display: flex;
  gap:18px;
  
}

.add-ons-wrapper input{
  width: auto;

}
.add-ons-wrapper input[type=checkbox]{
  accent-color:  hsl(243, 100%, 62%);
 
}
.add-ons-wrapper label{
  border: 1px solid hsl(229, 24%, 87%);
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: 0;
  width: 100%;
  gap:10px;
  padding: 14px;
}


.add-ons-wrapper label.checked{
  background-color: hsl(217, 100%, 97%);
  border-color: hsl(243, 100%, 62%);
}
.add-ons-wrapper label:hover{
  border-color: hsl(243, 100%, 62%);
}

.add-ons-wrapper label h4{
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 5px;
}
.add-ons-wrapper label div:last-child{
  margin-left: auto;
  color: hsl(243, 100%, 62%);
}
.add-ons-wrapper label span{
  font-size: 13px;
  font-weight: 400;
  color:hsl(231, 11%, 63%);
}

.summary-wrapper{
  color:hsl(231, 11%, 63%);
  font-size: 13px;
  background-color: hsl(217, 100%, 97%);
  padding: 20px;
  border-radius: 5px;
}

.summary-wrapper .btn{
  text-decoration: underline;
  font-weight: 500;
  font-size: 13px;
  padding: 0;
}
.summary-wrapper .btn:hover{
  color: hsl(243, 100%, 62%);
}

.summary-wrapper >div{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.summary-plan h4, .summary-plan span{
  color: hsl(213, 96%, 18%);
  font-size: 14px;
  font-weight: 700;
}

.summary-plan + .summary-addon{
  border-top: 1px solid hsl(229, 24%, 87%);
  padding-top: 20px;
  margin-top: 20px;
}
.summary-addon{
  margin-bottom: 10px;
}
.summary-addon span{
  color: hsl(213, 96%, 18%);
}
.summary-total{
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}
.summary-total span{
  color: hsl(243, 100%, 62%);
  font-size: 18px;
  font-weight: 500;
}

.section-wrapper.section-final{
  text-align: center;
  justify-content: center;
  align-items: center;
}

.section-final img{
  width: 75px;
  height: 75px;
  margin: 0 auto;
  justify-content: center;
}


@media only screen and (min-width: 768px) {
  .form-wrapper{
    flex-direction: row;
    background-color: hsl(0, 0%, 100%);
    padding: 14px;
  }
  form{
    height: 100vh;
  }
  .form-wrapper{
    height: 540px;
  }
  .form-header{
    padding-left:30px;
    padding-top: 36px;
    padding-bottom: 0;
    border-radius: 10px;
    background-image: url(../src/assets/bg-sidebar-desktop.svg);
  }
  .form-header ol{
    flex-direction: column;
  }
  .form-header .marker-circle{
    margin-right: 14px;
  }
  .form-header li div{
    display: block;
  }
  main{
    min-width: 588px;
    padding: 0;
  }
  .section-wrapper{
    padding: 36px 80px;
    margin-top:0;
    background-color: transparent;
    border-radius: 0;
    gap:23px;
  }
  h1{
    font-size: 30px;
  }
  p{
    width: 100%;
  line-height: 1;
  }
  label{
    font-size: 13px;
    letter-spacing: 0;
  }
  input{
    font-size: 14px;
    letter-spacing: 0;
  }
  .section-actions {
    background: transparent;
  }
  .section-actions >div{
    justify-content: space-between;
    display: flex;
    padding: 36px 90px;
  }
  .section-actions{
    position: absolute;
  }
  .plans-selection{
    flex-direction: row;
    gap:20px;
  }
  .plans-selection li{
    padding: 102px 15px 16px ; 
    width: 136px;
    min-height: 158px; 
    margin-bottom: 11px;
    margin-top: 15px;
    gap:7px;
    background-position: 15px 19px;
  }

  .add-ons-wrapper{
    gap:14px;
  }
  .add-ons-wrapper label{
    padding: 18px 20px;
  }
  
}

@media only screen and (min-width: 1024px) {
}

